/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colors =====*/

:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}

/*===== Font and typography =====*/

:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: #35258e;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.work {
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1160px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
  margin-bottom: -70px;
  background-color: rgb(53 37 142);
  color: white;
  margin-top: 5px;
  box-shadow: 0px 0px 5px black;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
  text-align: center;
  color: #3ee7f1;
  text-shadow: 2px 2px 1px #c8de0d;
}

.about__img {
  justify-self: center;
  padding: 20px;
  max-width: 300px;
}

.about__img img {
  width: 200px;
  border-radius: 50%;
  background: #b6b269;
  box-shadow: 0px 0px 50px #d3bed6;
}
.about-descrip {
  background: #3a289e;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
}
.about__text {
  text-align: justify;
  padding: 0px 15px 0px 15px;
}
/* ===== WORK =====*/

.work__container {
  row-gap: 2rem;
  background: #36268e;
  padding: 10px;
  box-shadow: 0px 0px 5px black;
}

.work__img {
  box-shadow: 0px 0px 5px #f1e0e8;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #d532e8;
  color: white;
  max-width: 400px;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}
@media (max-width: 845px) {
  .work {
    margin-top: 55px;
  }
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}
.demo-btn,
.sourc-btn {
  padding: 0px 10px 0px 10px;
  margin: 10px;
  border-radius: 10px;
}
.demo-btn {
  border: 2px solid red;
  color: white;
  background: blue;
}
.sourc-btn {
  border: 2px solid yellow;
  color: white;
  background: green;
}
/* ===== FOOTER =====*/

.footer {
  background-color: #423298;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  box-shadow: 0px 0px 5px black;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

/* ===== MEDIA QUERIES=====*/

@media (min-width: 768px) {
  body {
    margin: 0;
  }
  .about {
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 269px;
    top: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
    background: #b6b269;
    box-shadow: 0px 0px 50px #d3bed6;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    right: 10%;
  }
}

@media (max-width: 768px) {
  .own {
    margin-top: 60px;
  }
}
